@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome To DashBoard</h1>
    
    <br />

    <p> <a href="/Billing">Create New Bill </a> .</p>
</div>
